div{

    background-color: brow;
    margin: 0 00px 0 100px;
    padding: 50px;
    display: block;
}

h3{

    background-color:red;
    margin: 0 100px 0 100px;
    padding: 50px;
    display: block;
    position: absolute;


}

h3{

    background-color:yellow;
    margin: 100px 100px 0 100px;
    padding: 50px;
    display: block;
    position: absolute;


}

principal{

    background-color:rgb(94, 255, 0);
    

}